/* --------- ICONOS DEL HEADER --------- */

/* Logo chico en el header */
.logo-inicio-header {
  width: 35px;
  height: 35px;
  margin: 0px 10px 0px 0px;
  position: relative;
  z-index: 10;
  /* transform: translate(-50%, -50%); */
}

.header-izquierda {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}

.header-derecha {
  display: flex;
  align-items: center;
  gap: 1px;
  width: auto;
  min-width: 200px;
}

.login-btn,
.register-btn {
  position: relative;
  display: block;
  padding: 5px 10px; /* Espaciado interno */
  font-size: 15px;
  border: 0px; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de manito */
  transition: all 0.3s ease-in-out; /* Animación suave en hover */
  text-align: center;
}

header a {
  text-decoration: none; /* Quita el subrayado de los links */
}

header .bx {
  color: #ffffffff;
  font-size: 24px;
  margin: 2% 5%;
}

header .bx-moon {
  font-size: 22px;
}

header {
  top: 0;
  position: sticky;
  display: flex; /* Activa flexbox */
  flex-direction: row;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espacia: uno a la izquierda y otro a la derecha */
  padding: 10px 35px 10px 45px; /* Espaciado interno */
  gap: 15px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: #00000077;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid #3338;
  transition: all 0.5s ease-in-out;
}

header.claro {
  background-color: #ffffff88;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #9998;
}

/* --------- ANIMACIONES --------- */
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes mecer {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header .bx-sun.oscuro,
header .bx-moon.oscuro {
  color: #000000cc;
}

header .bx-sun.girar {
  animation: girar 0.7s linear;
}

header .bx-moon.mecer {
  animation: mecer 1s ease-in-out;
}


/* --------- SWITCH DE TEMA --------- */
.tema-claro-oscuro-header {
  display: flex;
  align-items: center;
  gap: 0.5px;
}

.interruptor {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 29px;
}

.interruptor input {
  opacity: 0;
  width: 0;
  height: 0;
}

.deslizador {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dadada;
  transition: 0.4s;
  border-radius: 11px;
  border: 2.3px solid #999999;
}

.deslizador:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 9%;
  background-color: #999999;
  transition: 0.4s ease-in-out;
  border-radius: 75%;
  transform: translateY(-50%);
  top: 50%;
}

input:checked + .deslizador:before {
  background-color: #000000cc;
  left: 5%;
}

input:checked + .deslizador {
  border: 2.3px solid #000000aa;
  background-color: #ffffff;
}

input:checked + .deslizador:before {
  transform: translateX(210%) translateY(-50%);
}

/* --------- ESTILOS DEL HEADER --------- */

.barra-navegacion-izquierda {
  /* Ocultar la flechita nativa */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  /* Estilo del select */
  padding: 8px 30px; /* Espacio a la izquierda para la flechita */
  border-radius: 20px;
  border: none;
  background-color: #3338;
  height: auto;
  width: auto;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.5s ease-out;
}

.barra-navegacion-izquierda.claro {
  background-color: #cccccccc;
  color: #000000cc;
}

.barra-navegacion-centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-navegacion-centro .barra-busqueda {
  padding: 8px 15px 8px 40px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: white;
  width: 400px;
  transition: all 0.5s ease-out;
}

.barra-navegacion-centro .lupa {
  position: relative;
  left: 28px;
  margin-right: 0px;
  color: 333;
  font-size: 14px;
}

.barra-navegacion-centro .barra-busqueda.claro {
  background-color: #cccccccc;
  color: #000000cc;
}

.barra-navegacion-derecha {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
}

.barra-navegacion-derecha button,
.barra-navegacion-derecha .boton-icono {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  
}

/* Modo claro para el carrito */
body.claro .barra-navegacion-derecha .boton-icono {
  color: #222;
  border-radius: 8px;
}

.inicio-cuenta-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  margin: 0px 0px 0px 10px;
}

/* ------- BOTONES ------- */

/* TODO Hacer el tema claro para los botones de iniciar sesión y registro */

.boton-cuenta-usuario {
  position: relative;
  border-radius: 50%;
  min-width: 33px;
  min-height: 33px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  border: none;
}

.foto-perfil {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
}

header .login-btn,
.register-btn {
  display: none;
  min-width: 50px;
}

/* Botón claro en el header */
header .white-btn {
  background-color: #ffffff88; /* Fondo blanco semitransparente */
  color: #000000cc; /* Texto negro semitransparente */
}

/* Botón oscuro en el header */
header .dark-btn {
  background-color: #000000ff; /* Fondo negro */
  color: #ffffffcc; /* Texto blanco semitransparente */
}

/* Efecto hover en botón claro */
header .white-btn:hover {
  background-color: #ffffffaa;
}

/* Efecto hover en botón oscuro */
header .dark-btn:hover {
  background-color: #272727ff;
}
